/* 
    Document   : register
    Created on : 07.04.2013, 01:40:57
    Author     : kletzi
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


div#content {
	margin-left: 25px;
}

div#content h1 {
	color: chartreuse;
}

div.divText {
	margin: 20px 15px;
}

span#benutzernameError {
	color: red;
}

input:focus {
	outline-color: chartreuse;
}

div#outerDiv {
	min-width: 400px;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px solid black;
	width: 83%;
	background-color: white;
}

div.divText label {
	float: left;
	margin-top: 2px;
	width: 170px;
}

div.divText input {
	width: 160px;
}